.left {
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%;
}

.right {
    background: white;
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    display: table;
 }

 .right div {
    display: table-cell;
    padding: 20px;
   vertical-align: middle;
 }
